* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
    
}

h1,h2,h3 {
    color: #333;
}

p {
    color: #444;
}

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: rgb(22, 31, 117);
    padding: 0 4rem;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px ;
    margin: 0;
    margin-right: 20px;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.navbar-items a:hover {
    color: #bbbbbb;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

.default-btn {
    padding: 15px 20px;
    background-color: rgb(0, 34, 84);
    border-radius: 5px;
}

.navbar-items .default-btn:hover {
    background-color: rgb(114, 184, 224);
    color: #ffffff;
}

.main-banner {
    background-image: url(/src/assets/mundao.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;

}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 32px;
}

.services-container {
    padding: 5rem 0;

}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: rgb(0, 51, 255) ;
}
.fa-rocket {
    color: rgb(255, 0, 0) ;
}
.fa-comments {
    color: green;
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    line-height: 25px;
}

.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 36px;
}

.pricing-container p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex:1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul {
    padding: 0;
    list-style: none;
}

.plan li {
    height: 50px;
    line-height: 50px;
    background-color: rgb(198, 198, 198);
    color: white;

}
.plan .price {
    width: 120px;
    height: 120px;
    background-color: rgb(22, 31, 117);
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color:  white;
    background-color: #333;
    padding: 50px 0;
}

.plan .plan-btn {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(22, 31, 117);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    opacity: 1;
}

.plan .plan-btn:hover {
    background-color: rgb(114, 184, 224);
    opacity: 0.7;
}

.plan .recommended {
    background-color: rgb(255, 247, 4);
    color:#000;
}

.searchdomain-container {
    background-color: rgb(0, 34, 84);
    text-align: center;
    padding: 5rem 0;
}

.searchdomain-container h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
}

.searchdomain-container input[type="submit"] {
    background-color: rgb(114, 184, 224);
    padding: 15px 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    opacity: .7;
}

.searchdomain-container input[type="submit"]:hover {
    opacity: 1;
}

.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;

}

.contact-container h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 36px;
}

.contact-container p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input, textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"] {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background-color: rgb(0, 34, 84);
    color: #fff;
    opacity: 2;
}

.contact-container input[type="submit"]:hover {
    opacity: 2;
}

footer {
    text-align: center;
    margin: 50px 0 100px;
}